.login-content {
    background-image: url('/src/images/login-bg.png');
    
    height: 100%;
    width: 100%;
    overflow: hidden;
    .login{
        height: 300px;
        width: 240px;
        margin: 20% auto;
        .ant-form-item{
            margin: 3px;
        }
    }
}