.layout{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    font-family: MaisonNeue-Light,Helvetica,Arial,"Lucida Grande",sans-serif;
    .header{
        width: 100%;
        min-height: 130px;
        position: fixed;
        z-index: 999;
        background: #fff;
        border-bottom: 1px solid #c7c6c7;
        transition: all .2s ease-out;
        nav{
            position: absolute;
            left: 0;
            top: 56px;
            z-index: 99;
            width: 100%;
            text-align: center;
            transition: all .2s ease-out;
        }
        nav ul{
            width: 100%;
            padding: 0;
            margin: 0;
        }
        nav li{
            list-style: none;
            display: inline;
            margin-left: 14px;
            line-height: 14px;
            font-size: 16px;
        }
        nav li a{
            color: #000;

        }
        nav .current{
            border-bottom: 1px solid #000;
        }
        .account{
            position: absolute;
            z-index: 100;
            right: 35px;
            top: 56px;
        }
        .account li{
            list-style: none;
            display: inline;
            margin-left: 14px;
            line-height: 14px;
            font-size: 14px;
        }
        .account li a{
            color: #6d6e71;
        }
    }
    .scolledheader{
        min-height: 100px;
        transition: all .2s ease-out;
    }
    .body-content{
        height: auto;
        min-height: calc(~"100% - 220px");
        width: 100%;
        background-color: #fff;
        padding: 157px 0 0;
        position: relative;
        text-align: center;
        .center{
            height: 100%;
            max-width: 980px;
            min-width: 180px;
            left: 0;
            right: 0;
            margin: 10px auto 0;
            text-align: left;
            .mycard {
                display: inline-block;
                width: 220px;
                margin: 5px;
            }
        }
    }
    .footer{
        margin-top: 10px;
        height: 80px;
        background: #DDD;
    }
    
}